<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">

    <title>Hello, world!</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="#">Hidden brand</a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="content-wrapper">
                    <header>
                        <h5>
                            data table does not work when the page open after open a page without datatable function
                        </h5>
                    </header>
                    <div class="card">
                            <div class="card-body">
                                <div class="vote">
                                        <a href="#" style="color: #586268;"><span class="oi oi-caret-top"></span></a>
                                        <p>10</p>
                                        <a href="#" style="color: #586268;"><span class="oi oi-caret-bottom"></span></a>
                                </div>
                                <p class="card-text" style="margin-left: 30px;">
                                        It sounds like what you want is "Code-First Design". This is supported in Microsoft's Entity Framework however in Laravel the way things work is somewhat different. In C# with Entity framework one would create properties (basically getter methods) to correspond with each database column. With Eloquent (Laravel's ORM library) it generates these dynamically using PHP magic methods, PHP variables also lack types in the way that C# does. Because of this there is no way to populate the database based on the code in the way you want. The doc comments you posted in your question look like they were generated the other way around from database to code, using the laravel-ide-helper package.

                                        Alternatively some database clients like Sequel Pro have a plugin to export the existing database schema into a Laravel migration which I have found very quick and helpful in the past and might be the closest thing you can get to the workflow you're looking for. Good luck!
                                </p>
                                <ul class="tags-list" style="margin-left: 30px;margin-top: 20px;">
                                    <li>
                                            <button type="button" class="btn btn-outline-success btn-sm">javscript</button>
                                    </li>
                                    <li>
                                            <button type="button" class="btn btn-outline-success btn-sm">google-cloud-firestor</button>
                                    </li>
                                    <li class="float-right">
                                            <button type="button" class="btn btn-primary btn-sm">edit</button>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-footer text-muted">
                                <ul class="comments">
                                    <li>
                                        <small class="comment-text">You can probably install Doctrine to do this.<span class="oi oi-person"></span> <a href="#">apokryfos</a> <span class="text-muted">Jul 3 at 16:03</span><a href="#" style="margin-left: 5px;">edit</a></small>
                                    </li>
                                    <li>
                                        <small class="comment-text">Also, you might have missed the point that I'm using multiline string to make my code neater. With your multiline string it doesn't make it more presentable.<span class="oi oi-person"></span> <a href="#">Wong Siwei</a> <span class="text-muted">14 hours ago</span></small>
                                    </li>
                                </ul>
                                <a href="#">add comment</a>
                            </div>
                        </div>
                    </div> 
            </div>
            <div class="col-lg-4">
                <div class="sidebar-wrapper">
                    <div class="card">
                        <div class="card-header">Question details</div>
                        <div class="card-body">
                            <p class="card-text"><span class="text-secondary" style="width: 65px; display: inline-block;">asked</span>  9 days ago by <a href="#">Striker</a></span></p>
                            <p class="card-text"><span class="text-secondary" style="width: 65px; display: inline-block;">viewed</span>  2422</span></p>
                            <p class="card-text"><span class="text-secondary" style="width: 65px; display: inline-block;">active</span>  yesterday</span></p>
                            <p class="card-text"><span class="text-secondary" style="width: 65px; display: inline-block;">answers</span>  51</span></p>
                        </div>
                    </div>
                </div>
            </div>

            <footer class="footer">
                <div class="container">
                    <span class="text-muted">Place sticky footer content here.</span>
                </div>
            </footer>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/poper-1.12.9.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
  </body>
</html>